<h1>Create a Team and Heroes!</h1><br><br>
<label for='name'>Team Name:</label>
<input type='text' id='name' name='team[name]'><br><br>
<label for='weight'>Team Motto:</label>
<input type='text' id='weight' name='team[weight]'><br><br>
<h2>Hero 1</h2>
<label for='Ship1 Name'>Hero's Name:</label>
<input type='text' id='ship_name_1' name='team[heroes][][name]'><br><br>
<label for='Ship1 Type'>Ship Type</label>
<input type='text' id='ship_type_1' name='team[heroes][][power]'><br><br>
<label for='Ship1 Booty'>Ship Booty</label>
<input type='text' id='ship_booty_1' name='team[heroes][][biography]'><br><br>
<label for='Ship2 Name'>Ship Name</label>
<input type='text' id='ship_name_2' name='team[heroes][][name]'><br><br>
<label for='Ship2 Type'>Ship Type</label>
<input type='text' id='ship_type_2' name='team[heroes][][power]'><br><br>
<label for='Ship2 Booty'>Ship Booty</label>
<input type='text' id='ship_booty_2' name='team[heroes][][biography]'><br><br>
<label for='Ship2 Name'>Ship Name</label>
<input type='text' id='ship_name_2' name='team[heroes][][name]'><br><br>
<label for='Ship2 Type'>Ship Type</label>
<input type='text' id='ship_type_2' name='team[heroes][][power]'><br><br>
<label for='Ship2 Booty'>Ship Booty</label>
<input type='text' id='ship_booty_2' name='team[heroes][][biography]'><br><br>
<input type='submit' id='Submit'>